*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px divided on default 16px = 0.625 = 62.5% = 1rem*/
}